{{- if .Values.scim.credentials.secrets.enabled }}
{{- if .Values.scim.credentials.secrets.create }} 
{{- $secrets := pick .Values.scim.credentials.secrets "workspaceSettings" "workspaceCredentials" "scimsession" }}
kind: Secret
apiVersion: v1
metadata:
  name: "{{ tpl .Values.scim.credentials.secrets.name . }}"
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/application: {{ tpl .Values.scim.name . }}
    {{- with .Values.scim.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.scim.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
{{- if not .Values.scim.googleWorkspace }}
{{- $scimsession := pick $secrets "scimsession" }}
stringData: 
  {{- range $secret := $scimsession }}
  {{ $secret.key }}: |-
  {{ if $secret.value_json }}
  {{- $secret.value_json | b64enc | indent 2 }}
  {{ else }}
  {{- $secret.value_base64 | indent 2 }}
  {{ end }}
  {{- end }}
{{- else }}
stringData:
  {{- range $secret := $secrets }}
  {{ $secret.key }}: |-
  {{ if $secret.value_json }}
  {{- $secret.value_json | b64enc | indent 2 }}
  {{ else }}
  {{- $secret.value_base64 | indent 2 }}
  {{ end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}